@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
@using HairSalon.Models

<h1>Add a New Client:</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.ClientName)
  @Html.TextBoxFor(model => model.ClientName, new { @class = "form-control" })

  @Html.LabelFor(model => model.HairColor)
  @Html.DropDownList("HairColor",
    new SelectList(Enum.GetValues(typeof(Color))),
    new { @class = "form-control" })

  @Html.LabelFor(model => model.PreferredStyling)
  @Html.CheckBox("PreferredStyling[]",
    new SelectList(Enum.GetValues(typeof(Styling))),
    new { @class = "form-control" })

  @foreach (Styling styling in Enum.GetValues(typeof(Styling)))
  {
    <label>
      <input name="Styling" asp-for="Styling" type="checkbox" value="@styling" checked="@(Model != null && Model.StylingFlags.HasFlag(styling))" />
      @styling
    </label>
  }
}